/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    min-height: 100dvh;
}


img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h2 ,h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #36536B;
    text-align: center;
}

a {
    text-decoration: none;
}
/* Body text */
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  background-color: #edf3f8;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; /* normal weight for paragraphs */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400; /* normal weight for headings */
}

.home-header {
    position: relative;
    overflow: hidden;
    padding-bottom: 32px;
    padding-top: 40px;
}

.header-mask {
    position: absolute;
    top: -550px;
    left: -204px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

}
/* navbar styling */
.header-nav {
    display: flex;
    align-items: center;
    width: 90%;
    height: 38px;
    margin: 0px auto;
}

 .nav-list,
 .nav-btn {
       display: none;
    }


.menu-icon {
    cursor: pointer;
    width: 28px;
    height: 17px;
    margin-left: auto;
}

/* hero section styling */

.hero-image {
    margin: 0 auto;
    position: relative;
    top: -25px;
}

.hero-content {
    text-align: center;
    margin: 0 auto;
    width: 90%;
     position: relative;
     top: -54px;
}

.hero-content h1 {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 24px;
}


.email-input {
    background-color: #FBFCFE;
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 16px 157px 14px 27px;
}

.email-input:focus {
   outline: 1px solid #6C829440;
}

.email-input::placeholder {
    color: #36536B;
    opacity: 50%;
    font-weight: bold;
    width: 153px;
}


.demo-btn {
    background-color: #BA4270;
    color: #FBFCFE;
    border: none;
    width: 95%;
    border-radius: 24px;
    padding: 16px 48px 14px 50px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 24px;
}


.demo-btn:hover,
.nav-btn:hover {
    background-color: #da6d97;
    
}

/* use js to disable the buttton if input is empty */
.demo-btn:disabled {
    opacity: 50%;
    background-color: #BA4270;
    cursor: not-allowed;
}
.hero-content p {
    font-size: 15px;
    color: #6C8294;
}

.hero-content  span {
    font-weight: bold;
    cursor: pointer;
}

/* partners section styling */
.partners {
    padding: 80px 0px;
    background-color: #1B262F;
    color: #FBFCFE;
    position: relative;
    overflow: hidden;
}

.partners-mask {
    position: absolute;
    top: -72vw;
    left: -16vw;
    width: 130vw;
    height: 130vw;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.partners-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    row-gap: 40px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.partners h2 {
    color: #FBFCFE;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
}

.partners p {
    text-align: center;
    opacity: 70%;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
}

.partners button {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    background-color: transparent;
    color: #FBFCFE;
    padding: 16px 32px 14px 32px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #FBFCFE;
}

.partners button:hover {
    background-color: #FBFCFE;
    color: #1B262F;
}

/* about buton disabled */
.partners button:disabled {
    opacity: 50%;
    background-color: transparent;
    cursor: not-allowed;
}

/* api implementation section styling */
.api-implementation img{
   width: 90%;
   margin: 80px auto 48px auto;
}
.api-implementation-content {
    position: relative;
}  
.api-implementation h2 {
    margin-bottom: 16px;
    font-size: 36px;
}

.api-implementation p {
    font-size: 15px;
    font-weight: regular;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6C8294;
    margin-top: 24px;
}

/* simple UI & UX section styling */
.ui-container {
    margin: 80px 0;
}
.ui-mask {
    display: none;
}
.ui-image img{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 48px;
}

.ui-content p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6C8294;
    margin-top: 24px;
}   

/* offers section */
.offers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    row-gap: 48px;
}

.offers-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.offers-cards h3 {
    font-size: 18px;
    font-family: "public sans", sans-serif;
    color: #36536B;
    margin-top: 33px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.14px;
}

.offers-cards p {
    font-size: 15px;
    color: #6C8294;
    margin-top: 16px;
    line-height: 25px;
    letter-spacing: -0.12px;
}

/* start section */
.start-container {
    margin: 80px auto;
    width: 90%;
}
.start-container h2 {
    margin-bottom: 32px;
}

/* footer styling */
footer {
    background-color: #1B262F;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

footer svg {
   margin-top: 41px;
}

.footer-nav {
 margin-top: 40px;
}

 footer ul a{
       color: #FBFCFE;
       opacity: 70%;
    }

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: bold;
    letter-spacing: 0px;
    opacity: 70%;
    gap: 31px;
    color: #FBFCFE;
}
footer ul li {
    cursor: pointer;
}

.social-media-links {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.footer-mask {
    position: absolute;
    top: 177px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}


  
/* PRICING.HTML*/
.page-header {
     position: relative;
     overflow-x: clip;
    padding-top: 40px;
}
.page-header-mask {
    position: absolute;
    top: -664px;
    left: 74px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

}


/* free plan section */

h1 {
    margin-top: 48px;
}
.subscription {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -0.18px;
   color: #BA4270;
   margin-top: 48px;
}

.pricing {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-plan {
      color: #36536B;
      text-align: center;
      width: 90%;
      padding: 24px 0px;
      line-height: 28px;
}

 .amount{
    font-size: 56px;
    font-family: "DM Serif Display";
    line-height: 72px;
    letter-spacing: -0.43px;
    color: #36536B;
    text-align: center;
    padding: 24px;
}

/* line break styling */
.line-break {
    width: 90%;
    border-bottom: 1px solid #36536B;
    opacity: 25%;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 134px;
    gap: 8px;
    margin: 24px  0px;
}
.allowed p,
.locked p{
    font-size: 16px;
    line-height: 28px;
    color: #36536B;
}

.allowed,  
.locked {
    display: flex;
    gap: 10px;
    align-items: center;
}

.locked p {
    opacity: 50%;
}

.locked img{
    visibility: hidden;
}

.access-btn {
    width: fit-content;
    display: block;
    padding: 16px 28px 14px 28px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.12px;
    background-color: transparent;
    border-radius: 24px;
    color: #36536B;
    margin: 24px 0;
    border: 1px solid #36536B;
    cursor: pointer;
}

.access-btn:hover {
    background-color: #36536B;
    color: #ffffff;
}

/* about.html */
/* about-intro section */
.about-heading {
    width: 80%;
    margin: 0 auto;
    margin-top: 48px;
}

.about-intro h2{
    font-size: 24px;
    letter-spacing: -0.18px;
    margin-bottom: 16px;
}

.about-intro p{
    width: 80%;
    margin: 0 auto;
    color: #6C8294;
    text-align: center;
    line-height: 28px;
}
.vision{
    margin-top: 40px;
    margin-bottom: 48px;
}

.about-intro img {
    margin-top: 76px;
    width: 100vw;
}

/* capacity section */
.capacity {
    width: 80%;
    margin: 48px auto;
    text-align: center;
}

.break {
    display: none;
}
.upper-break {
    margin-bottom: 16px;
}

.no-members p,
.us-offices p,
.transactions p {
    font-size: 16px;
    color: #36536B;
}

.no-members .numbers,
.us-offices .numbers,
.transactions .numbers{
    font-size: 56px;
    font-family: "DM Serif Display";
    color: #BA4270;
    letter-spacing: -0.43px;
    line-height: 72px;
    
}

.us-offices,
.no-members {
    margin-bottom: 32px;
}

.transactions {
    margin-bottom: 16px;
}

.culture,
.people {
    width: 80%;
    margin: 0 auto;
}

.culture h2,
.people h2{
    letter-spacing: -0.18px;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 16px;
}
.culture p,
.people p{
  color: #6C8294;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0px;
  font-size: 15px;
  margin-bottom: 48px;
}

/* contact.html */
.contact-title {
    width: 70%;
    margin: 0 auto;
    padding-top: 48px;
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto 80px auto;
    gap: 24px;
}

.form-container input{
    border: none;
    border-bottom: 1px solid #36536B;
    background-color: transparent;
    opacity: 50%;
    width: 100%;
}

.form-input input:focus {
    outline: none;
    border-bottom: 1px solid #ff0000;
}
.form-input label{
    color: #36536B;
    line-height: 25px;
    letter-spacing: -0.12px;
    padding-left: 20px;
    opacity: 50%;
}

.message input {
    margin-top: 63px;
}

.checkbox {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    align-items: center;
    width: fit-content;
}
.checkbox span {
    display: flex;
    position: relative;
    width: fit-content;
}

.checkbox svg{
    position: absolute;
    top: 6px;
    left: 6px;
    pointer-events: none;
    display: none;
}
.checkbox input[type="checkbox"]{
    width: 24px;
    height: 24px;
     appearance: none;
    -webkit-appearance: none;
    background-color: #979787;
    opacity: 25%;
    cursor: pointer;
    outline: none;
}

.checkbox input[type="checkbox"]:checked{
  background-color: #BA4270;
  opacity: 100%;
}

.checkbox input[type="checkbox"]:checked + svg{
  display: block;
}
.checkbox label {
    width: 277px;
    line-height: 25px;
    letter-spacing: -0.12px;
    color: #36536B;
}

.form-container button{
    padding: 16px 49px 14px 51px;
    width: 157px;
    border-radius: 24px;
    background-color: transparent;
    color: #36536B;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: -0.12x;
    border: 1px solid #36536B;
}



.form-container button:hover {
    background-color: #36536B;
    color: #ffffff;
}

/* partners section */
.partners-container {
    width: 90%;
    margin: 0 auto;
    padding: 0 24px;
}

.partners-container h2{
    opacity: 75%;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.18px;
}

         /* Tablet styles */
  

/* homepage */
/* header mask */
/* Small phones */
@media (min-width: 500px) and (max-width: 600px) {
  .header-mask {
    top: -85vw;
    left: -20vw;
    width: 130vw;
    height: 130vw;
  }
}

/* tablets */
@media (min-width:768px) {
    .header-mask {
        top: -90vw;
        left: -15vw;
        width: 130vw;
        height: 130vw;
    }
}

/* navbar styling */

@media (min-width: 768px) {
    .header-nav {
        gap: 64px;
    }
}
@media (min-width: 768px) {
    .nav-list {
        list-style: none;
        display: flex;
        gap: 40px;
    }
}

@media (min-width: 768px) {
      .nav-list a {
        color: #36536B;
        opacity: 70%;
        font-weight: bold;
      }    
}

@media (min-width: 768px) {
      .nav-list a:hover ,
      footer a:hover {
        opacity: 100%;
      }    
}
@media (min-width: 768px) {
    .nav-btn {
        display: block;
        margin-left: auto;
        width: fit-content;
         background-color: #BA4270;
        color: #FBFCFE;
        border: none;
        border-radius: 24px;
        padding: 16px 24.5px 14px 26.5px;
        cursor: pointer;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}

/* hero-section styling */

@media (min-width: 768px) {
    .hero-content{
       width: 80%;
    }
}

@media (min-width: 768px) {
    .hero-image{
       top: 25px;
    }
}

@media (min-width: 768px) {
    .hero-content h1 {
        width: 80%;

    }
}


@media (min-width: 768px) {
    .hero-content form ,
    .start-container form{
       display: flex;
       align-items: center;
       position: relative;
       width: 70%;
       margin: 0 auto;
       
    }
}

@media (min-width: 768px) {
    .hero-content input,
    .start-container input{
          width: 100%;
    }
}
@media (min-width: 768px) {
   .hero-content .demo-btn,
   .start-container .demo-btn {
        width: fit-content;
        position: absolute;
        padding: 16px 24.5px 14px 26.5px;
        right: 0%;
        top: 0.1px;
    }
}

/* partners section */
@media (min-width: 768px) {
    .partners {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .partners-mask{
      width: 100vw;
      height: 100vw;
      left: 0vw;
      top: -70vw;
    }
}

@media (min-width: 768px) {
 .partners-logos {
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     row-gap: 39px;
     column-gap: 60px;
 }
}

@media (min-width: 768px) {
    .partners h2{
        margin-top: 64px;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}

@media (min-width: 768px) {
    .partners p{
        width:60%;
    }
}


/* api implementation section */
@media (min-width: 768px) {
    .api-implementation img{
     width: 50%;
     margin-top: 100px;
    }
    
}
@media (min-width: 768px) {
    .api-implementation-content{
     width: 70%;
     margin: 0 auto;
    }
    
}
@media (min-width: 768px) {
    .api-implementation h2{
       font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}


@media (min-width: 768px) {
    .api-implementation p{
      width: 100%;
    }
}

/* simple UI & ux section */
@media (min-width: 768px) {
    .ui-container{
      margin: 100px 0;
    }
}
@media (min-width: 768px) {
    .ui{
      width: 70%;
      margin: 0px auto;
    }
}

@media (min-width: 768px) {
    .ui-content h2{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}

@media (min-width: 768px) {
    .ui-content p{
      width: 100%;
    }
}

/* offers section */

@media (min-width: 768px) {
  .offers-container {
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
  }    
}


@media (min-width: 768px) {
  .offers-cards {
    width: 32%;
  }    
}


@media (min-width: 768px) {
  .offers-cards img{
    width: 40%;
    height: 40%;
  }    
}

/* start container */

@media (min-width: 768px) {
    .start-container{
        margin-top: 100px;
    }
}
@media (min-width: 768px) {
    .start-container h2{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}

/* footer styling */

@media (min-width: 768px) {
    footer{
        padding: 0px 40px;
        flex-direction: row;
        gap: 65px;
        align-items: center;
        height: 100px;
    }
}


@media (min-width: 768px) {
    .footer-mask{
       top: -136px;
       left: 378px;
    }
}

@media (min-width: 768px) {
    footer svg{
        margin: 0px;
    }
}

@media (min-width: 768px) {
    footer ul{
        flex-direction: row;
        gap: 40px;   
    }
}

@media (min-width: 768px) {
    .footer-nav{
        margin: 0px;
        height: fit-content;
        width: fit-content;
    }
}


@media (min-width: 768px) {
    .social-media-links{
        margin: 0px;
        margin-left: auto;
    }
}

 /* pricing page */


@media (min-width: 768px) {
    .page-header{
      padding-bottom: 75px;
    }
}

@media (min-width: 768px) {
    .page-header-mask{
       top: -60vw;
       left: 65vw;
    }
}

@media (min-width: 768px) {
    h1 {
       font-size: 48px;
       letter-spacing: -0.37px;
       line-height: 56px;
       margin-top: 0px;
    }
}
/* pricing section */
@media (min-width: 768px) {
    .pricing-container{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 69px;
    }
}



@media (min-width: 768px) {
     .subscription {
      margin: 0px;
    }
}
@media (min-width: 768px) {
    .pricing{
        width: 30%;
        margin: 0px;
    }
}

@media (min-width: 768px) {
    .amount{
        font-size: 48px;
        letter-spacing: -0.37px;
    }
}

/* about page */

@media (min-width: 768px) {
    .about-heading{
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.37px;      
            margin-top: 0px;      
            width: 70%;
            margin-bottom: 54px;
        }
}


@media (min-width: 768px) {
    .about-intro h2{
        font-size: 32px;
        letter-spacing: -0.25px;
        margin-bottom: 0px;
        column-gap: 64px;
        line-height: 40px;
    }
}


@media (min-width: 768px) {
    .vision,
    .business,
    .culture,
    .people {
      display: flex;
      width: 90%;
      justify-content: space-between;
      margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .about-intro p,
    .culture p,
    .people p{
        width: 70%;
        margin: 0;
        text-align: left;
    }
}


@media (min-width: 768px) {
     .vision {
        margin-bottom: 64px;
    }
}

@media (min-width: 768px) {
    .about-intro img {
     margin-top: 92px;
    }
}

/* capacity-section */
@media (min-width: 768px) {
     .capacity {
        width: 90%;
    }
}

@media (min-width: 768px) {
      .stats{
        display: flex;
        justify-content: space-between;
    }
}

/* line break styling */
@media (min-width: 768px) {
     .capacity .line-break{
        display: none;
    }
}


@media (min-width: 768px) {
      .break{
        margin: 32px 0;
        border-bottom: 1px solid #36536B;
        opacity: 25%;
        width: 100%;
        display: block;
    }
}


@media (min-width: 768px) {
      .transactions,
      .no-members,
      .us-offices {
         width: 30%;
    }
}





@media (min-width: 768px) {
      .culture {
        margin: 32px auto 64px auto;
    }
}

/* contact page */

@media (min-width: 768px) {
      .contact-title{
        padding: 0;
    }
}


@media (min-width: 768px) {
      .form-container{
        width: 60%;
    }
}

/* partners section */
@media (min-width: 768px) {
      .partners-container{
        width: 80%;
    }
}


@media (min-width: 768px) {
      .partners-container h2{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}

/* laptop style */
/* header style */

@media (min-width: 1024px) {
      .header-mask{
        top: -280px;
        left: 550px;
        width: 780px;
        height: 780px;
    }
} 

/* hero styling */
@media (min-width: 1024px) {
      .hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
}


@media (min-width: 1024px) {
      .hero-image{
        top: 0px;
        height: 60vw;
    }
}

@media (min-width: 1024px) {
      .hero-content {
        width: 50%;
        margin: 0px;
        top: 0px;
        max-width: 547px;
    }
}


@media (min-width: 1024px) {
      .hero-content h1{
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.55px;
        text-align: left;
        width: 100%;
    }
}
@media (min-width: 1024px) {
      .hero-content form{
        width: 90%;
        margin: 0px;
    }
}

@media (min-width: 1024px) {
      .hero-content p{
        width: fit-content;
        padding-left: 27px;
    }
    
}

/* partners styling */
@media (min-width: 1024px) {
      .partners {
        padding: 100px 0;
    }
}
@media (min-width: 1024px) {
      .partners-content{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
      .partners-mask {
        top: -359px;
        left: -300px;
        width: 780px;
        height: 780px;
    }
}

@media (min-width: 1024px) {
      .info-container {
        width: 35%;
        max-width: 445px;
    }
}


@media (min-width: 1024px) {
      .info-container h2,
      .info-container p{
        margin: 0;
        text-align: left;
        width: 100%;
    }
}


@media (min-width: 1024px) {
      .info-container h2 {
        margin-bottom: 24px;
    }
}


@media (min-width: 1024px) {
      .info-container button{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
      .partners-logos {
        width: 60%;
        max-width: 536px;
        height: fit-content;
        column-gap: 60px;
        margin: 0px;
    }
}


/* api implementation section */
@media (min-width: 1024px) {
      .api-implementation {
        display: flex;
        width: min(90%, 1051px);
        gap: 125px;
        align-items: center;
        margin: 150px auto 0px auto;
    }
}


@media (min-width: 1024px) {
      .api-implementation img{
        width: min(40vw, 445px);
        margin: 0;
    }
}


@media (min-width: 1024px) {
      .api-implementation-content {
        top: 0;
        margin: 0;
        max-width: 445px;
    }
}




@media (min-width: 1024px) {
      .api-implementation p,
      .api-implementation h2{
        text-align: left;
    }
}




/* simple UI & UX section styling */
@media (min-width: 1024px) {
       .ui-container {
        margin-top: 150px;
        margin-bottom: 0;
        overflow-x: clip;
    }
}




@media (min-width: 1024px) {
       .ui {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 95px;
        position: relative;
    }
}

@media (min-width: 1024px) {
      .ui-mask {
        display: block;
        position: absolute;
        width: 780px;
        height: 780px;
        background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
        left: 75vw;
    }
}
@media (min-width: 1024px) {
       .ui-image img {
        width: 40vw;
        max-height: 500px;
        margin: 0;
    }
}

@media (min-width: 1024px) {
       .ui-content{
        max-width: 445px;
    }
}

@media (min-width: 1024px) {
       .ui-content h2,
       .ui-content p {
        text-align: left;
    }
}

/* offers container styling */
@media (min-width: 1024px) {
       .offers-container {
        border: 1px solid red;
        margin-top: 150px;

    }
}

@media (min-width: 1024px) {
       .offers-cards img{
        width: min(35%, 106px);
    }
}

@media (min-width: 1024px) {
       {
    }
}