/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
}


img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h2 ,h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #36536B;
    text-align: center;
}

a {
    text-decoration: none;
}
/* Body text */
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  background-color: #edf3f8;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; /* normal weight for paragraphs */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400; /* normal weight for headings */
}

header {
    position: relative;
    padding-bottom: 32px;
    overflow: hidden;
}

.header-mask {
    position: absolute;
    top: -550px;
    left: -204px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

}
/* navbar styling */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 38px;
    margin: 0px auto;
    margin-top: 40px;
}

 .nav-list,
 .nav-btn {
       display: none;
    }


.menu-icon {
    cursor: pointer;
    width: 28px;
    height: 17px;
}

/* hero section styling */

.hero-image {
    margin: 0 auto;
    position: relative;
    top: -25px;
}

.hero-content {
    text-align: center;
    margin: 0 auto;
    width: 90%;
     position: relative;
     top: -54px;
}

.hero-content h1 {
    width: 327px;
    margin: 0 auto;
    padding-bottom: 24px;
}


.email-input {
    background-color: #FBFCFE;
    width: 327px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 16px 157px 14px 27px;
}

.email-input:focus {
   outline: 1px solid #6C829440;
}

.email-input::placeholder {
    color: #36536B;
    opacity: 50%;
    font-weight: bold;
    width: 153px;
}


.demo-btn {
    background-color: #BA4270;
    color: #FBFCFE;
    border: none;
    width: 327px;
    border-radius: 24px;
    padding: 16px 48px 14px 50px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 24px;
}


.demo-btn:hover,
.nav-btn:hover {
    background-color: #da6d97;
    
}

/* use js to disable the buttton if input is empty */
.demo-btn:disabled {
    opacity: 50%;
    background-color: #BA4270;
    cursor: not-allowed;
}
.hero-content p {
    font-size: 15px;
    color: #6C8294;
}

.hero-content  span {
    font-weight: bold;
    cursor: pointer;
}

/* partners section styling */
.partners {
    padding: 80px 24px;
    background-color: #1B262F;
    color: #FBFCFE;
    position: relative;
    overflow: hidden;
}

.partners-mask {
    position: absolute;
    top: -602px;
    left: -202px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.partners-logos {
    display: grid;
    justify-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    margin: 0 auto;
    gap: 32px;
    align-items: center;
   
}

/* logos */
  

.partners h2 {
    color: #FBFCFE;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
}

.partners p {
    text-align: center;
    opacity: 70%;
    font-size: 15px;
    width: 327px;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
}

.partners button {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    background-color: transparent;
    color: #FBFCFE;
    padding: 16px 32px 14px 32px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: -0.12x;
    border: 1px solid #FBFCFE;
}

.partners button:hover {
    background-color: #FBFCFE;
    color: #1B262F;
}

/* about buton disabled */
.partners button:disabled {
    opacity: 50%;
    background-color: transparent;
    cursor: not-allowed;
}

/* api implementation section styling */


.api-implementation img{
   width: 100%;
   margin-top: 32px;
}
.api-implementation-content {
    position: relative;
    top: -48px;
}  
.api-implementation h2 {
    margin-bottom: 16px;
    font-size: 36px;
}

.api-implementation p {
    font-size: 15px;
    font-weight: regular;
    text-align: center;
    width: 328px;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6C8294;
    margin-top: 24px;
}

/* simple UI & UX section styling */


.ui-content p {
    width: 328px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6C8294;
    margin-top: 24px;
}   

/* offers section */
.offers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    row-gap: 48px;
}

.offers-cards {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.offers-cards h3 {
    font-size: 18px;
    font-family: "public sans", sans-serif;
    color: #36536B;
    margin-top: 33px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.14px;
}

.offers-cards p {
    font-size: 15px;
    color: #6C8294;
    margin-top: 16px;
    line-height: 25px;
    letter-spacing: -0.12px;
}

/* start section */
.start-container {
    margin: 80px auto;
    width: 328px;
}
.start-container h2 {
    margin-bottom: 32px;
}

/* footer styling */
footer {
    background-color: #1B262F;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
    align-items: center;
    min-height: 45dvh;
    position: relative;
    overflow: hidden;
}

footer svg {
   margin-top: 41px;
}

.footer-nav {
 width: 58px;
 height: 115px;
 margin-top: 40px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: bold;
    letter-spacing: 0px;
    opacity: 70%;
    gap: 31px;
    color: #FBFCFE;
}
footer ul li {
    cursor: pointer;
}

.social-media-links {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.footer-mask {
    position: absolute;
    top: 177px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

  
/* PRICING.HTML*/
.page-header {
    overflow: visible;
    overflow: hidden;
}
.page-header-mask {
    position: absolute;
    top: -664px;
    left: 74px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

}

.page-nav {
    padding: 40px 24px;
}

/* free plan section */
.subscription {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -0.18px;
   color: #BA4270;
   margin-top: 48px;
}

.offer-plan {
      color: #36536B;
      text-align: center;
      width: 327px;
      margin: 0 auto;
      padding: 24px;
      line-height: 28px;
}

 .amount{
    font-size: 56px;
    font-family: "DM Serif Display";
    line-height: 72px;
    letter-spacing: -0.43px;
    color: #36536B;
    text-align: center;
    padding: 24px;
}


.line-break {
    width: 327px;
    border-bottom: 1px solid #36536B;
    opacity: 25%;
    margin: 0 auto;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 134px;
    gap: 8px;
    margin: 0 auto;
    margin-top: 24px;
}
.allowed p,
.locked p{
    font-size: 16px;
    line-height: 28px;
    color: #36536B;
}

.allowed,  
.locked {
    display: flex;
    gap: 10px;
    align-items: center;
}

.locked p {
    opacity: 50%;
}

.locked img{
    visibility: hidden;
}

.access-btn {
    width: fit-content;
    display: block;
    padding: 16px 28px 14px 28px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.12px;
    background-color: transparent;
    border-radius: 24px;
    color: #36536B;
    margin: 24px auto;
    border: 1px solid #36536B;
    cursor: pointer;
}

.access-btn:hover {
    background-color: #36536B;
    color: #ffffff;
}

/* about.html */
/* about intro section */
.about-intro h1 {
    width: 327px;
    margin: 0 auto;
}

.about-intro h2{
    font-size: 24px;
    letter-spacing: -0.18px;
    margin-bottom: 16px;
}

.about-intro p{
    width: 327px;
    margin: 0 auto;
    color: #6C8294;
    text-align: center;
    line-height: 28px;
}
.vision{
    margin-top: 40px;
    margin-bottom: 48px;
}

.about-intro img {
    margin: 0 auto;
    margin-top: 76px;
    width: 100%;
}

/* capacity section */
.capacity {
    width: 327px;
    margin: 48px auto;
    text-align: center;
}

.upper-break {
    margin-bottom: 16px;
}

.no-members p,
.us-offices p,
.transactions p {
    font-size: 16px;
    color: #36536B;
}

.no-members .numbers,
.us-offices .numbers,
.transactions .numbers{
    font-size: 56px;
    font-family: "DM Serif Display";
    color: #BA4270;
    letter-spacing: -0.43px;
    line-height: 72px;
    
}

.us-offices,
.no-members {
    margin-bottom: 32px;
}

.transactions {
    margin-bottom: 16px;
}

.culture,
.people {
    width: 327px;
    margin: 0 auto;
}

.culture h2,
.people h2{
    letter-spacing: -0.18px;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 16px;
}
.culture p,
.people p{
  color: #6C8294;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0px;
  font-size: 15px;
  margin-bottom: 48px;
}

/* contact.html */
.contact-title {
    width: 327px;
    margin: 0 auto;
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 327px;
    margin: 40px auto 80px auto;
    gap: 24px;
}

.form-container input{
    border: none;
    border-bottom: 1px solid #36536B;
    background-color: transparent;
    opacity: 50%;
    width: 100%;
}

.form-input input:focus {
    outline: none;
    border-bottom: 1px solid #ff0000;
}
.form-input label{
    color: #36536B;
    line-height: 25px;
    letter-spacing: -0.12px;
    padding-left: 20px;
    opacity: 50%;
}

.message input {
    margin-top: 63px;
}

.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
}
.checkbox span {
    display: flex;
    position: relative;
    width: fit-content;
}

.checkbox svg{
    position: absolute;
    top: 6px;
    left: 6px;
    pointer-events: none;
    display: none;
}
.checkbox input[type="checkbox"]{
    width: 24px;
    height: 24px;
     appearance: none;
    -webkit-appearance: none;
    background-color: #979787;
    opacity: 25%;
    cursor: pointer;
    outline: none;
}

.checkbox input[type="checkbox"]:checked{
  background-color: #BA4270;
  opacity: 100%;
}

.checkbox input[type="checkbox"]:checked + svg{
  display: block;
}
.checkbox label {
    width: 277px;
    line-height: 25px;
    letter-spacing: -0.12px;
    color: #36536B;
}

.form-container button{
    padding: 16px 49px 14px 51px;
    width: 157px;
    border-radius: 24px;
    background-color: transparent;
    color: #36536B;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: -0.12x;
    border: 1px solid #36536B;
}



.form-container button:hover {
    background-color: #36536B;
    color: #ffffff;
}

/* partners section */
.partners-container {
    width: 327px;
    margin: 0 auto;
}

.partners-container h2{
    opacity: 75%;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.18px;
}

         /* Tablet styles */
  
/* homepage */
/* header mask */
/* Small phones */
@media (min-width: 500px) and (max-width: 600px) {
  .header-mask {
    top: -85vw;
    left: -20vw;
    width: 130vw;
    height: 130vw;
  }
}

/* tablets */
@media (min-width:768px) {
    .header-mask {
        top: -88%;
        left: -13%;
        width: 969px;
        height: 969px;
    }
}

/* large tablets */
@media (min-width: 800px) {
  .header-mask {
    top: -80vh;
    left: -17vh;
    width: 100vh;
    height: 100vh;
  }
}

@media (min-width: 900px) {
    .header-mask {
        width: 100vh;
        height: 100vh;
        top: -80vh;
        left: -16vh;
    }
}

/* navbar styling */

@media (min-width: 768px) {
    .nav-list {
        list-style: none;
        display: flex;
        gap: 40px;
    }
}

@media (min-width: 768px) {
      .nav-list a {
        color: #36536B;
        opacity: 70%;
        font-weight: bold;
      }    
}
@media (min-width: 768px) {
    .nav-btn {
        display: block;
        width: fit-content;
         background-color: #BA4270;
        color: #FBFCFE;
        border: none;
        border-radius: 24px;
        padding: 16px 24.5px 14px 26.5px;
        cursor: pointer;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}

/* hero-section styling */

@media (min-width: 768px) {
    .hero-content{
       width: 573px;
    }
}


@media (min-width: 768px) {
    .hero-content h1 {
        width: 100%;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}


@media (min-width: 768px) {
    .hero-content form {
       display: flex;
       align-items: center;
       position: relative;
       width: 447px;
       margin: 0 auto;
       
    }
}

@media (min-width: 768px) {
    .hero-content input{
          width: 100%;
    }
}
@media (min-width: 768px) {
   .hero-content .demo-btn {
        width: fit-content;
        position: absolute;
        padding: 16px 24.5px 14px 26.5px;
        right: 0%;
        top: 0.1px;
    }
}

/* partners section */
@media (min-width: 768px) {
    .partners {
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .partners-mask{
      width: 100vw;
      height: 100vw;
      left: 0vw;
      top: -70vw;
    }
}

@media (min-width: 768px) {
 .partners-logos {
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     row-gap: 39px;
     column-gap: 60px;
 }
}

@media (min-width: 768px) {
    .partners h2{
        margin-top: 64px;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}

@media (min-width: 768px) {
    .partners p{
        width: 456px;
    }
}

