/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
}


img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h2 ,h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.28px;
    color: #36536B;
    text-align: center;
}
/* Body text */
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  background-color: #edf3f8;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; /* normal weight for paragraphs */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400; /* normal weight for headings */
}

header {
    position: relative;
    padding-bottom: 32px;
    overflow: hidden;
}

.header-mask {
    position: absolute;
    top: -550px;
    left: -204px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}
/* navbar styling */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 38px;
    margin: 0px auto;
    padding-top: 32px;
}

.menu-icon {
    cursor: pointer;
    width: 28px;
    height: 17px;
}

/* hero section styling */

.hero-image {
    margin: 0 auto;
    position: relative;
    top: 8px;
}

.hero-content {
    text-align: center;
    margin: 0 auto;
    width: 90%;
     position: relative;
     top: -54px;
}

.hero-content h1 {
    width: 327px;
    margin: 0 auto;
    padding-bottom: 24px;
}



.email-input {
    background-color: #FBFCFE;
    width: 327px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 16px 157px 14px 27px;
}

.email-input::placeholder {
    color: #36536B;
    opacity: 50%;
    font-weight: bold;
    width: 153px;
}

.demo-btn {
    background-color: #BA4270;
    color: #FBFCFE;
    border: none;
    width: 327px;
    border-radius: 24px;
    padding: 16px 48px 14px 50px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 24px;
}

.demo-btn:hover {
    background-color: #da6d97;
    
}

/* use js to disable the buttton if input is empty */
.demo-btn:disabled {
    opacity: 50%;
    background-color: #BA4270;
    cursor: not-allowed;
}
.hero-content p {
    font-size: 15px;
    color: #6C8294;
}

.hero-content  span {
    font-weight: bold;
    cursor: pointer;
}

/* partners section styling */
.partners {
    padding: 80px 24px;
    background-color: #1B262F;
    color: #FBFCFE;
    position: relative;
    overflow: hidden;
}

.partners-mask {
    position: absolute;
    top: -602px;
    left: -202px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.partners-logos {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    margin: 0 auto;
    gap: 32px;
    align-items: center;
   
}

/* logos */
  

.partners h2 {
    color: #FBFCFE;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
}

.partners p {
    text-align: center;
    opacity: 70%;
    font-size: 15px;
    width: 327px;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
}

.partners button {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    background-color: transparent;
    color: #FBFCFE;
    padding: 16px 32px 14px 32px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: -0.12x;
    border: 1px solid #FBFCFE;
}

.partners button:hover {
    background-color: #FBFCFE;
    color: #1B262F;
}

/* about buton disabled */
.partners button:disabled {
    opacity: 50%;
    background-color: transparent;
    cursor: not-allowed;
}

/* api implementation section styling */


.api-implementation img{
   width: 100%;
   margin-top: 32px;
}
.api-implementation-content {
    position: relative;
    top: -48px;
}  
.api-implementation h2 {
    margin-bottom: 16px;
    font-size: 36px;
}

.api-implementation p {
    font-size: 15px;
    font-weight: regular;
    text-align: center;
    width: 328px;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6C8294;
    margin-top: 24px;
}

/* simple UI & UX section styling */


.ui-content p {
    width: 328px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6C8294;
    margin-top: 24px;
}   

/* offers section */
.offers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    row-gap: 48px;
}

.offers-cards {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.offers-cards h3 {
    font-size: 18px;
    font-family: "public sans", sans-serif;
    color: #36536B;
    margin-top: 33px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.14px;
}

.offers-cards p {
    font-size: 15px;
    color: #6C8294;
    margin-top: 16px;
    line-height: 25px;
    letter-spacing: -0.12px;
}

/* start section */
.start-container {
    margin: 0 auto;
    width: 328px;
    margin-top: 80px;
}
.start-container h2 {
    margin-bottom: 32px;
}

/* footer styling */
footer {
    background-color: #1B262F;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
    align-items: center;
    min-height: 45dvh;
    position: relative;
    overflow: hidden;
}

footer svg {
   margin-top: 41px;
}

.footer-nav {
 width: 58px;
 height: 115px;
 margin-top: 40px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: bold;
    letter-spacing: 0px;
    opacity: 70%;
    gap: 31px;
    color: #FBFCFE;
}
footer ul li {
    cursor: pointer;
}

.social-media-links {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.footer-mask {
    position: absolute;
    top: 177px;
    width: 780px;
    height: 780px;
    background-image: url(assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}